In [31]:
list= ['Name','Num',['Alex', 'Eloise', 'Bryn', 'Lois', 'Carol', 'Kevin'],['12','25','18','7','5','14']]
for i in range(0,4):
    if(i<=1):
        print(list[i],end="   ")
    else:
        for j in range(0,6):
            print(list[i][j])

Name   Num   Alex
Eloise
Bryn
Lois
Carol
Kevin
12
25
18
7
5
14

In [11]:
Name= ['Alex', 'Eloise', 'Bryn', 'Lois', 'Carol', 'Kevin']
Num= ['12','25','18','7','5','14']
layout = "{:<7}{:<3}"                #'<' for left alignment, '>' for right alignment, '^' for center alignment.
print(layout.format('Name','Num'))
print('-'*10)
for i in range(0,6):
    print(layout.format(Name[i],Num[i]))

Name   Num
----------
Alex   12
Eloise 25
Bryn   18
Lois   7
Carol  5
Kevin  14

In [68]:
allflowers= ['myrtle','violet','fuchsia','buttercup','daisy','rose','aster','orchid','tulip','camelin']
layout = "{:15}{:10}"
print(layout.format('Flower_Name','InStock'))
print('-'*22)
for i in range(0,10):
    if(allflowers[i][0]>'l'):
        instock = 'yes'    
        print(layout.format(allflowers[i],instock))
    else: 
        instock = 'no'
        print(layout.format(allflowers[i],instock))

Flower_Name    InStock
----------------------
myrtle         yes
violet         yes
fuchsia        no
buttercup      no
daisy          no
rose           yes
aster          no
orchid         yes
tulip          yes
camelin        no

In [67]:
weekday = ['mon','tue','wed','thu','fri','sat','sun']
pressure = [1012.80,1023.20,1038.00,1031.10,1019.80,1015.70,994.90]
max_temp = [13.0,12.0,13.0,12.0,9.0,10.0,11.0]
layout = "{:<9}{:<10}{:<5}"
print(layout.format('weekday','pressure','max_temp'))
sump=0
sumt=0
for i in range(0,7):
    print(layout.format(weekday[i],pressure[i],max_temp[i]))
    sump= sump+pressure[i]
    sumt= sumt+max_temp[i]
    
avgp= sump/7
avgt= sumt/7
print('-'*28)
print(layout.format('Average',f"{avgp:.2f}", f"{avgt:.1f}"))

weekday  pressure  max_temp
mon      1012.8    13.0
tue      1023.2    12.0
wed      1038.0    13.0
thu      1031.1    12.0
fri      1019.8    9.0
sat      1015.7    10.0
sun      994.9     11.0
----------------------------
Average  1019.36   11.4

In [70]:
#list of 'n' size, where elements in the array starts from 1 and goes on till 'n'. No duplicate numbers. 
#you have to tell the missing number.
#suppose n = 10, and numbers in the array are [1,2,3,5,6,7,8,9], missing number is 4.

In [ ]:
#HW. Two numbers n1 and n2, you have to generate a list of such prime numbers in between the range n1 and n2. 
#which are not only prime, but there sum of digit is also prime.